// GENERAL

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

// Text

.text-field.minimal {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.text-field, .label {
    -fx-font-size: 16px;
}

// TOOLS

.tool-selector {
    -fx-border-width: 1px;
    -fx-border-color: black;
}

// CANVAS

.canvas-view-container {
    -fx-background-color: #99ccff;
}

.canvas-view {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #666666, 10, 0.1, 7, 7);
}

.horizontal-anchor {
    -fx-cursor: h-resize;
}

.vertical-anchor {
    -fx-cursor: v-resize;
}

.diagonal-anchor {
    -fx-cursor: se-resize;
}

// Graph

.selection-box {
    -fx-stroke-dash-array: 5 10;
}

// Nodes

/*.ase:selected {
    -fx-border-color: blue;
}*/

// ASE

.ase {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid inside;
    -fx-border-insets: 2px;
    -fx-background-color: white;
}

.ase.key-element {
    -fx-border-width: 3px;
}

.ase.key-element .multi-line-text-input .text {
    -fx-underline: true;
}

// Edges

.edge-anchor {
    -fx-fill: transparent;
    -fx-stroke: blue;
    -fx-stroke-width: 1;
}

.edge-control-line {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 5 5;
}

.edge .text {
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.9, 0, 0);
}

/*.edge:selected .edge-head {
    -fx-stroke: blue;
    -fx-fill: blue;
}

.edge:selected .edge-curve {
    -fx-stroke: blue;
}*/

// Child

.edge.child .edge-curve {
    -fx-stroke-dash-array: 5 5;
}

// Flow

.edge.flow .edge-curve,
.edge.branch .edge-curve {
    -fx-stroke-width: 3px;
}

// Abort

.edge.abort .edge-curve {
    -fx-stroke-width: 2px;
}

.edge.abort .edge-curve,
.edge.abort .edge-head {
    -fx-stroke: red;
}

.edge.abort .edge-head {
    -fx-fill: red;
}