.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.tool-selector {
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.canvas-view-container {
    -fx-background-color: #99ccff;
}

.canvas-view {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #666666, 10, 0.1, 7, 7);
}

.horizontal-anchor {
    -fx-cursor: h-resize;
}

.vertical-anchor {
    -fx-cursor: v-resize;
}

.diagonal-anchor {
    -fx-cursor: se-resize;
}

.ase {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
}

.ase:selected {
    -fx-border-color: blue;
}

.edge:selected .edge-head {
    -fx-stroke: blue;
    -fx-fill: blue;
}

.edge:selected .edge-curve {
    -fx-stroke: blue;
}

.ase.preview .flow-connector {
    visibility: hidden;
}

.ase.preview:disabled .text-field {
    -fx-opacity: 1.0;
}

.ase .text-field .text {
    -fx-underline: true;
}

.edge .text {
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.9, 0, 0);
}

.edge-anchor {
    -fx-fill: transparent;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.edge-anchor.control {
    -fx-stroke: blue;
}

.text-field.minimal {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-padding: 0;
}

.edge-control-line {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 5 5;
}

.text-field, .label {
    -fx-font-size: 16px;
}